# Development
/node_modules/
/vendor/
composer.lock
package-lock.json

# System
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

# Build
/dist/
*.zip

# Local Environment
.env
.env.local
wp-config.php

# WP CLI
*.sql
